/* :root {
  --bg_main: #0a1f44;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
} */
 
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
} */

button {
  cursor: pointer;
}

.card-weather {
  display:flex; 
  justify-content: center;
  background: lightblue;
  flex-wrap: center;
  /* font-family: 'Raleway', sans-serif; */
}

body {
  font-family: 'Raleway', sans-serif;
  background: url("https://source.unsplash.com/1600x900/?landscape");
}

.search-perameters {
  font-style: white;
}

.w-icon {
  display: 3px;
}